<div class="container-fluid">
	<%- model_class = Task -%>
	<div class="page-header">
		<legend style="padding: 1%2%1%2%">
			<%=t '.title', :default => model_class.model_name.human.pluralize %>
		</legend>
	</div>
	<table class="table table-striped">
	  <thead>
		<tr>
		  <th><%= model_class.human_attribute_name(:id) %></th>
		  <th><%= model_class.human_attribute_name(:sprint) %></th>
		  <th><%= model_class.human_attribute_name(:status) %></th>
		  <th><%= model_class.human_attribute_name(:responsible) %></th>
		  <th><%= model_class.human_attribute_name(:project) %></th>
		  <th><%= model_class.human_attribute_name(:point) %></th>
		  <th><%= model_class.human_attribute_name(:unplanned) %></th>
		  <th><%= model_class.human_attribute_name(:description) %></th>
		  <th><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	  </thead>
	  <tbody>
		<% @tasks.each do |task| %>
		  <tr>
			<td><%= task.id %></td>
			<td><%= task.sprint.name %></td>
			<td><%= task.status.title %></td>
			<td><%= task.responsible.name %></td>
			<td><%= task.project.name %></td>
			<td><%= task.point.name %></td>
			<td><%= task.unplanned %></td>
			<td><%= task.description %></td>
			<td>
			  <%= link_to t('.show', :default => t("helpers.links.show")),
						  task_path(task), :class => 'btn btn-inverse btn-mini' %>
			  <%= link_to t('.edit', :default => t("helpers.links.edit")),
						  edit_task_path(task), :class => 'btn btn-inverse btn-mini' %>
			  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
						  task_path(task),
						  :method => :delete,
						  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
						  :class => 'btn btn-mini btn-danger' %>
			</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<%= link_to t('.new', :default => t("helpers.links.new")),
				new_task_path,
				:class => 'btn btn-primary' %>
	<%= link_to 'Delete All', tasks_destroy_all_path,
						  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
						  :class => 'btn btn-danger' %>
</div>