<div class="container">
	
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-signin", :method => :post }) do |f| %>
		<%= f.error_notification %>
		<h3 class="form-signin-heading">Forgot your Password?</h3> <br>
		
		<%= f.input :email, :required => true, :autofocus => true, :class=>"input-block-level" %>
		<%= f.button :submit, "Sign in", :class=>"btn btn-primary" %>
		<%= render "devise/shared/links" %>
	<% end %>
	
</div>