<p style="color:red"><%= notice %></p>

<%= simple_form_for @sprint, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date_begin %>
  <%= f.input :date_final %>
  <%= f.input :name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sprints_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
