<div class="container-fluid">
	<%- model_class = Project -%>
	<div class="page-header">
		<legend style="padding: 1%2%1%2%">
			<%=t '.title', :default => model_class.model_name.human.pluralize %>
		</legend>
	</div>
	<table class="table table-striped">
	  <thead>
		<tr>
		  <th><%= model_class.human_attribute_name(:id) %></th>
		  <th><%= model_class.human_attribute_name(:name) %></th>
		  <th><%= model_class.human_attribute_name(:created_at) %></th>
		  <th><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	  </thead>
	  <tbody>
		<% @projects.each do |project| %>
		  <tr>
			<td><%= project.id %></td>
			<td><%= project.name %></td>
			<td><%=l project.created_at %></td>
			<td>
			  <%= link_to t('.show', :default => t("helpers.links.show")),
						  project_path(project), :class => 'btn btn-inverse btn-mini' %>
			  <%= link_to t('.edit', :default => t("helpers.links.edit")),
						  edit_project_path(project), :class => 'btn btn-inverse btn-mini' %>
			  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
						  project_path(project),
						  :method => :delete,
						  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
						  :class => 'btn btn-mini btn-danger' %>
			</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<div class="paginate">
		<%= paginate @projects %>
	</div>

	<%= link_to t('.new', :default => t("helpers.links.new")),
				new_project_path,
				:class => 'btn btn-primary' %>
	<%= link_to 'Delete All', projects_destroy_all_path,
						  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
						  :class => 'btn btn-danger' %>
</div>