<div class="container">

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-signin" }) do |f| %>
		<h2 class="form-signin-heading">Scrumm</h2> <br>
		
		<%= f.input :email, :required => false, :autofocus => true, :class=>"input-block-level" %>
		<%= f.input :password, :required => false, :class=>"input-block-level" %>
		<label class="checkbox">
          <input type="checkbox" value="remember_me"> Remember me
        </label>
		
		<%= f.button :submit, "Sign in", :class=>"btn btn-primary" %>
		<hr>
		<%= render "devise/shared/links" %>
	<% end %>
	
</div>
